includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    excludes_analyse:
        - %rootDir%/../../../vendor
    level: 7
    includes:
        - vendor/phpstan/phpstan/conf/bleedingEdge.neon
